body, html {
    margin: 0;
    padding: 0;
    background-color: #000; /* Fond noir pur obligatoire */
    overflow: hidden;
}

#intro-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 100; /* Au-dessus de tout */
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5; /* Plus discret pour laisser voir le contenu */
    z-index: -1;
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}